
FoodApp.xcodeproj/project.pbxproj

FoodApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata

.DS_Store

FoodApp.xcodeproj/project.xcworkspace/xcuserdata/paultrott.xcuserdatad/UserInterfaceState.xcuserstate

FoodApp.xcodeproj/project.xcworkspace/xcuserdata/paultrott.xcuserdatad/WorkspaceSettings.xcsettings

FoodApp.xcodeproj/xcuserdata/paultrott.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

FoodApp.xcodeproj/xcuserdata/paultrott.xcuserdatad/xcschemes/FoodApp.xcscheme

FoodApp.xcodeproj/xcuserdata/paultrott.xcuserdatad/xcschemes/xcschememanagement.plist
